<div class="favorite-product">
  <div class="image-product">
    <%= cl_image_tag product.photo %>
  </div>
  <div class="favorite-product-text">
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
    <div class="badge badge-pill badge-<%= product.global_color %> favorite"><%= product.global_rating %> / 10</div>
  </div>
</div>
