<footer class="footer_btn">
  <%= link_to("/") do %>
    <div class="pl-4 my-2">
      <%= inline_svg("scan.svg", width: 32) %>
      <p class="mb-0">Scan</p>
    </div>
  <% end %>
  <%= link_to() do %>
    <div class="my-2">
      <%= inline_svg("search.svg", width: 32) %>
      <p class="mb-0">Search</p>
    </div>
  <% end %>
  <%= link_to("/favorites") do %>
    <div class="dressing_footer">
      <div class="my-2 text-center pr-4">
        <%= inline_svg("dressing.svg", width: 32) %>
        <p class="mb-0">Dressing</p>
      </div>
    </div>
  <% end %>
</footer>
