<footer class="col-12 tab-bar p-0">
  <div class="col-3 tab scan">
    <%= link_to("/") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("scan.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Scan</p>
    <% end %>
  </div>
  <div class="col-3 tab search">
    <%= link_to("/products") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("search.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Recherche</p>
    <% end %>
  </div>
  <div class="col-3 tab dressing">
    <%= link_to("/favorites") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("dressing.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Dressing</p>
    <% end %>
  </div>
  <div class="col-3 tab account">
    <%= link_to(user_path(current_user)) do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("account.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Compte</p>
    <% end %>
  </div>
</footer>
