<footer class="tab-bar">
  <div class="tab scan">
    <%= link_to("/") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("scan.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Scan</p>
    <% end %>
  </div>
  <div class="tab search">
    <%= link_to("/products") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("search.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Search</p>
    <% end %>
  </div>
  <div class="tab dressing">
    <%= link_to("/favorites") do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("dressing.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Dressing</p>
    <% end %>
  </div>
  <div class="tab account">
    <%= link_to(user_path(current_user)) do %>
      <div class="tab-bar-icon text-center">
        <%= inline_svg("dressing.svg", width: 32) %>
      </div>
      <p class="mb-0 text-center">Account</p>
    <% end %>
  </div>
</footer>
