<div class="container mt-5">
  <%= simple_form_for @product do |f| %>
    <h3 class="mt-4">New Product</h3>
    <%= f.input :ean, as: :hidden %>
    <%= f.input :name, placeholder: 'Leather Jacket' %>
    <%= f.input :description, as: :text, placeholder: 'Blue pant in cotton', input_html: { maxlength: 150 } %>
    <%= f.input :price, as: :currency %>

    <div class="upload-btn-wrapper">
      <%= f.input :photo, label: "", input_html: {class:"custom-file-upload"} %>
      <%= inline_svg("camera.svg", width: 100, height: 60) %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <%= f.association :gender, as: :radio_buttons, wrapper: :horizontal_collection_inline %>

    <%= f.association :category, prompt: "Choose a Category", input_html: {class:"select2"} %>
    <%= f.association :brand, prompt: "Choose a Brand", input_html: {class:"select2"} %>

    <div class="add_materials d-flex">
      <%= f.simple_fields_for :compositions do |c| %>
        <%= render 'composition', composition: c %>
        <%= c.submit '+', class: "center-wide btn btn-primary", size: 50 %>
      <% end %>
    </div>



    <%= f.association :country, label: "Made in", prompt: "Choose a Country", input_html: {class:"select2"} %>

    <%= f.submit 'Create Product', class: "center-wide btn btn-primary", size: 50 %>
  <% end %>
</div>
