<div class="container mt-5">
  <%= simple_form_for @product do |f| %>
  <%= f.error_notification %>
    <h3 class="mt-4">Nouveau produit</h3>
    <%= f.input :ean, as: :hidden %>
    <%= f.input :name, placeholder: 'Pantalon coton' %>
    <%= f.input :description, as: :text, placeholder: 'Pantalon bleu en coton bio, toucher doux et confortable', input_html: { maxlength: 150 } %>
    <%= f.input :price, as: :currency %>

    <div class="upload-btn-wrapper">
      <%= f.input :photo, label: "", input_html: {class:"custom-file-upload"} %>
      <%= inline_svg("camera.svg", width: 100, height: 60) %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <%= f.association :gender, as: :radio_buttons, wrapper: :horizontal_collection_inline %>

    <%= f.association :category, prompt: "Choisir une catégorie", input_html: {class:"select2"} %>
    <%= f.association :brand, prompt: "Choisir une marque", input_html: {class:"select2"} %>
     <% if @product.errors.any? %>
       <ul>
         <% @product.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
         <% end %>
       </ul>
    <% end %>
    <table>
      <tbody class="add_materials">
        <%= f.simple_fields_for :compositions do |builder| %>

          <%= render 'composition', f: builder %>
        <% end %>
    </tbody>
  </table>
    <%= link_to_add_row('Ajout d\'une matière', f, :compositions, class: 'btn btn-success') %>



    <%= f.association :country, label: "Made in", prompt: "Choisir un pays", input_html: {class:"select2"} %>

    <%= f.submit 'Créer le produit', class: "center-wide btn btn-primary", size: 50 %>
  <% end %>
</div>
