<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.photo) %>

<div class="show_product">
  <div class="product_picture" style="background-image: url('<%= cl_image_path @product.photo if @product.photo.present? %>');" >
    <div class="header-product">
      <div class="flex-item">
        <%= link_to '', :back, class:"fas fa-angle-left back_arrow" %>
      </div>
      <div class="flex-item">
        <div id="favorite-action">
          <% if current_user.has_favorited?(@product) %>
            <%= render "favorites/added" %>
          <% else %>
            <%= link_to product_favorites_path(@product), class: "btn-circle", method: :post, remote: true do %>
              <%= inline_svg "heart.svg", width: 39 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="description_product">
    <div class="d-flex align-items-center product-name-line">
      <div class="col-6 p-0">
        <h2 class="text-uppercase product_name"><%= @product.name %></h2>
      </div>
      <div class="col-6 p-0 text-right">
        <h3><%= @product.price %> €</h3>
      </div>
    </div>
    <h3 class="product-brand"><%= @product.brand.name %></h3>
    <p><%= @product.description %></p>
    <h4 class="text-center">Global Rating:<h4>
      <h4 class="text-center"><%= @product.global_rating %> / 10</h4>
    <p>
      <%= social_share_button_tag(@product, :href => product_path(@product), desc: @product.name, :allow_sites => %w(twitter facebook pinterest)) %>
    </p>
  </div>
  <div class="rating">
    <h3>Ecological Impact</h3>
    <div class="accordion" id="accordionFirst">

      <div class="water_footprint">
        <div class="collapse-header" data-toggle="collapse" data-target="#collapseOne">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("water_icon.svg", width: 32, class: "collapse-icon") %>
            </div>
            Water footprint
          </div>
          <div class="d-flex align-items-center">
            <%= @product.water_footprint %> ℓ
            <div class="mx-2 circle circle-<%= @product.water_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </div>

        <div id="collapseOne" class="collapse">
          <div class="collapse-body">
            <p>It took more than <%= @product.water_footprint %>ℓ of water to make this product</p>
          </div>
        </div>
      </div>

      <div class="carbon_footprint">
        <div class="collapse-header" data-toggle="collapse" data-target="#collapseTwo">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("plane.svg", width: 32, class: "collapse-icon") %>
            </div>
            Carbon footprint
          </div>
          <div class="d-flex align-items-center">
            <%= @product.carbon_footprint %> Km
            <div class="mx-2 circle circle-<%= @product.carbon_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </div>

        <div id="collapseTwo" class="collapse">
          <div class="collapse-body">
            <p>Your product has travelled more than <%= @product.carbon_footprint %>km</p>
            <p>Your product was made in <strong><%= @product.country.name %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 rating">
    <h3>Social Responsibility</h3>
    <div class="accordion" id="accordionSecond">
      <div class="labour_conditions">
        <div class="collapse-header" data-toggle="collapse" data-target="#collapseThree">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("labour.svg", width: 32, class: "collapse-icon") %>
            </div>
            Labour conditions
          </div>
          <div class="d-flex align-items-center">
            <div class="mx-2 circle circle-<%= @product.brand.labor_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </div>

        <div id="collapseThree" class="collapse">
          <div class="collapse-body">
            <p><strong><%= @product.brand.name %> got <%= @product.brand.labor_answers %> YES about labor conditions.</strong></p>
            <h4>This Labor Conditions Rating is calculated by monitoring several parameters:</h4>
            <ul>
              <li>If the Brand is member of the Ethical Trading Initiative, the Fair Wear Foundation, the Labor Association and the Sustainable Apparel Coalition</li>
              <li>If the Brand is signatory to the Bangladesh Agreement on Fire Safety and Security of Buildings</li>
              <li>If the Brand discloses information to illustrate that they are taking steps to ensure that there is no forced labor or child labor in their supply chain. But also on the freedom of association of their workers and their working conditions.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="transparency">
        <div class="collapse-header" data-toggle="collapse" data-target="#collapseFour">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("transparency.svg", width: 32, class: "collapse-icon") %>
            </div>
            Transparency
          </div>
          <div class="d-flex align-items-center">
            <div class="mx-2 circle circle-<%= @product.brand.transparency_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </div>

        <div id="collapseFour" class="collapse">
          <div class="collapse-body">
            <p><strong><%= @product.brand.name %> got <%= @product.brand.transparency_answers %> YES about transparency </strong></p>
            <div class="details_transparency">
              <h4>This Brand Transparency Rating is calculated by monitoring several parameters:</h4>
              <ul>
                <li>If the Brand discloses the complete list of its suppliers</li>
                <li>If the Brand takes steps to control the wages paid to the staff of its factories</li>
                <li>If the Brand mentions child labor, forced labor, safety and working conditions on its website.</li>
                <li>If the Brand publish its code of conduct for suppliers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 equivalent_product">
    <h4 class="text-center">Better alternatives products</h4>
    <div class="slider">
      <% @alternatives.each do |product| %>
        <%= link_to product_path(product), class: "product-card" do %>
          <%= render "favorites/favorite_product", product: product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
