<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.photo) %>

<div class="show_product">
  <div class="product_picture" style="background-image: url('<%= cl_image_path @product.photo if @product.photo.present? %>');" >
    <div class="header-product">
      <div class="flex-item">
        <%= link_to '', :back, class:"fas fa-angle-left back_arrow" %>
      </div>
      <div class="flex-item">
        <div id="favorite-action">
          <% if current_user.has_favorited?(@product) %>
            <%= render "favorites/added" %>
          <% else %>
            <%= link_to product_favorites_path(@product), class: "btn-circle", method: :post, remote: true do %>
              <%= inline_svg "heart.svg", width: 39 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="description_product pb-0">
    <div class="d-flex align-items-center product-name-line">
      <div class="col-6 p-0">
        <h2 class="text-uppercase product_name"><%= @product.name %></h2>
      </div>
      <div class="col-6 p-0 text-right">
        <h3><%= @product.price %> €</h3>
      </div>
    </div>
    <h3 class="product-brand"><%= @product.brand.name %></h3>
    <p><%= @product.description %></p>
    <p class="mb-0"><strong>Composition: </strong></p>
    <table>
      <tbody>
        <% @product.compositions.each do |composition| %>
          <tr>
            <td><%= composition.material.name %></td>
            <td><%= composition.percentage %> %</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h4 class="text-center mt-2">Note globale: <span class="badge badge-pill badge-<%= @product.global_color %>"><%= @product.global_rating %> / 10</span><h4>
    <h4 class="text-center">Note des consommateurs:
      <span class="stars_rating"><% @product.average_stars.times do %>
        <%= inline_svg("star.svg", width: 20, height: 30, class: "collapse-icon") %>
      <% end %>
      <% (5 - @product.average_stars).times do %>
        <%= inline_svg("empty_star.svg", width: 20, height: 30, class: "collapse-icon") %>
      <% end %>
      </span>
    </h4>
  </div>
  <div class="p-2">
    <%= social_share_button_tag(@product, :href => product_path(@product), desc: @product.name, :allow_sites => %w(twitter facebook pinterest)) %>
  </div>
  <div class="rating">
    <h3>Impact écologique</h3>
    <div class="accordion" id="accordionFirst">

      <div class="water_footprint">
        <a class="collapse-header" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("water_icon.svg", width: 32, class: "collapse-icon") %>
            </div>
            Impact eau
          </div>
          <div class="d-flex align-items-center">
            <%= @product.water_footprint %> ℓ
            <div class="mx-2 circle circle-<%= @product.water_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </a>

        <div id="collapseOne" class="collapse">
          <div class="collapse-body">
            <p>Il a fallu plus de <%= @product.water_footprint %>ℓ d'eau nécessaire pour fabriquer ce produit.</p>
          </div>
        </div>
      </div>

      <div class="carbon_footprint">
        <a class="collapse-header" data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("plane.svg", width: 32, class: "collapse-icon") %>
            </div>
            Impact carbone
          </div>
          <div class="d-flex align-items-center">
            <%= @product.carbon_footprint %> Km
            <div class="mx-2 circle circle-<%= @product.carbon_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </a>

        <div id="collapseTwo" class="collapse">
          <div class="collapse-body">
            <p>Votre produit a voyagé plus de <%= @product.carbon_footprint %>km</p>
            <p>Pays de fabrication de ce produit : <strong><%= @product.country.name %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 rating">
    <h3>Responsibilité sociale de la marque</h3>
    <div class="accordion" id="accordionSecond">
      <div class="labour_conditions">
        <a class="collapse-header" data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("labour.svg", width: 20, class: "collapse-icon") %>
            </div>
            Conditions de travail
          </div>
          <div class="d-flex align-items-center">
            <div class="mx-2 circle circle-<%= @product.brand.labor_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </a>

        <div id="collapseThree" class="collapse">
          <div class="collapse-body">
            <p><strong><%= @product.brand.name %> a obtenu <%= @product.brand.labor_answers %> "OUI" à propos des conditions de travail</strong></p>
            <h4>Voici les paramètres évalués :</h4>
            <ul>
              <li>Si la marque est membre de la Ethical Trading Initiative, de la Fair Wear Foundation, de la Labour Association et de la Sustainable Apparel Coalition</li>
              <li>Si la marque est signataire de l'accord du Bangladesh sur la sécurité incendie et la sécurité des bâtiments</li>
              <li>Si la marque divulgue des informations montrant qu'elle prend des mesures pour garantir qu'il n'y a pas de travail forcé ou de travail des enfants dans sa chaîne d'approvisionnement. Mais aussi sur la liberté d'association de leurs travailleurs et leurs conditions de travail.</li>
            </ul>
            <h4>Pour en savoir plus ...</h4>
            <p>Ethical Trading Initiative : ETI a été au Royaume-Uni par des entreprises, des ONG et des syndicats.</p>
            <p>Son but principal est d’assurer des conditions de travail décentes pour les travailleurs de l’industrie manufacturière.</p>
            <p>Source : <%= link_to "https://www.ethicaltrade.org/", :target => "_blank" %></p><br>
            <p>Fair Wear Foundation : Cette fondation est une initiative multipartite européenne qui vise à améliorer les conditions de travail dans l'industrie du vêtement et du textile.</p>
            <p>Source : <%= link_to "https://www.fairwear.org/", :target => "_blank" %></p><br>
            <p>Sustainable Apparel Coalition : Il s'agit de la principale alliance de l'industrie du vêtement, de la chaussure et du textile pour une production durable.</p>
            <p>Source : <%= link_to "https://apparelcoalition.org/", :target => "_blank" %></p>
          </div>
        </div>
      </div>

      <div class="transparency">
        <a class="collapse-header" data-toggle="collapse" data-target="#collapseFour" href="#collapseFour">
          <div class="d-flex align-items-center">
            <div class="icons">
              <%= inline_svg("transparency.svg", width: 32, class: "collapse-icon") %>
            </div>
            Transparence de la marque
          </div>
          <div class="d-flex align-items-center">
            <div class="mx-2 circle circle-<%= @product.brand.transparency_color %>"></div>
            <div class="arrow_down">
              <%= inline_svg "arrow-down.svg", width: 16, height: 8 %>
            </div>
          </div>
        </a>

        <div id="collapseFour" class="collapse">
          <div class="collapse-body">
            <p><strong><%= @product.brand.name %> a obtenu <%= @product.brand.transparency_answers %> "OUI" à propos de leur transparence</strong></p>
            <div class="details_transparency">
              <h4>Voici les paramètres évalués :</h4>
              <ul>
                <li>Si la marque divulgue la liste complète de leurs fournisseurs</li>
                <li>Si la marque prend des mesures pour contrôler les salaires versés au personnel de ses usines</li>
                <li>Si la marque mentionne le travail des enfants, le travail forcé, la sécurité et les conditions de travail sur son site Web.</li>
                <li>Si la marque publie son code de conduite pour les fournisseurs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Test stars reviews -->

  <div class="rating mt-4">
    <h3>Avis des consommateurs</h3>
    <div class="container">
      <div id="reviews" class="text-center">
        <%= link_to "", product_reviews_path(@product), class: "reviews_link" %>
        <% if @product.reviews.blank? %>
        Soyez le premier à laisser un commentaire sur le produit <%= @product.name %>
        <% else %>
          <% @product.reviews.last(3).each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
      <div class="text-center">
        <% if current_user.has_reviewed?(@product) %>
          <%= link_to "Voir mon commentaire", review_path(current_user.review(@product)), class: "btn  btn-light p-2 mt-4"%>
        <% else %>
          <%= link_to "Ajouter un commentaire", new_product_review_path(@product), class: "btn  btn-primary p-1 mt-4"%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-4 equivalent_product">
    <h4 class="text-center">Suggestion d'alternatives produits</h4>
    <div class="slider">
      <% @alternatives.each do |product| %>
        <%= link_to product_path(product), class: "favorite-card" do %>
          <%= render "favorites/favorite_product", product: product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
