<div class="reviews_product d-flex">
  <!-- avatar exemple -->
  <div class="avatar_bloc mr-3">
    <%= cl_image_tag review.user.avatar.url(:avatar, secure:true), class: "avatar"   %>
    <!-- <span><%#= review.user.first_name  %></span> -->
  </div>
  <div class="review_bloc">
    <p class="comment_title mb-0">"<%= review.title %>"</p>
    <span class="stars_rating"><% review.stars.times do %>
      <%= inline_svg("star.svg", width: 10, height: 20, class: "collapse-icon") %>
      <% end %>
      <% (5 - review.stars).times do %>
      <%= inline_svg("empty_star.svg", width: 10, height: 20, class: "collapse-icon") %>
      <% end %>
      <span class="ml-2 review_date"><%= review.created_at.strftime('%d-%b-%Y')%></span>
    </span>
    <p class="comment"><%= review.content %></p>
  </div>
</div>
