<div class="container">
  <div class="review_container mt-5">
    <h4 class="text-center mb-3">Add your quality rating for the product and your comment</h4>
    <div class="stars" data-stars="1">
    	<svg height="25" width="23" class="star rating" data-rating="1">
        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
      </svg>
      <svg height="25" width="23" class="star rating" data-rating="2">
        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
      </svg>
      <svg height="25" width="23" class="star rating" data-rating="3">
        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
      </svg>
      <svg height="25" width="23" class="star rating" data-rating="4">
        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
      </svg>
      <svg height="25" width="23" class="star rating" data-rating="5">
        <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
      </svg>
    </div>
  <%= simple_form_for [@product, @review] do |f| %>

    <%= f.input :stars, as: :hidden, input_html: { id: "stars"} %>
    <%= f.input :content %>
    <div class="d-flex justify-content-between">
      <%= link_to 'Back', :back, class:"btn btn-light" %>
      <%= f.submit "add a review", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
